#naruto-meme-div {
    position: static;
    border: 3px solid #db0c0c;
    padding: 10px;
    display: flex;
}

#misfit-meme-div {
    position: static;
    border: 3px solid #150e3f;
    padding: 10px;
}

#punch-meme-div {
    position: static;
    border: 3px solid #1368a9;
    padding: 10px;
}

.meme-pic {
    height: 500px;
    width: 300px;
    border: 2px solid #ff0000;
    padding: 5px;
    z-index: 1;
}

.meme-pic:hover {
    height: 700px;
    width: 500px;
    z-index: 2;
}

#misfit-meme-2:hover {
    width: 600px;
}

#misfit-meme-4:hover {
    width: 800px;
    border: 2px solid #00eeff;
}

#punch-meme-5:hover {
    width: 600px;
}

#up-arrow {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
}


#up-arrow:hover {
    height: 100px;
    width: 100px;
}

#top-subheading {
    position: sticky;
    top: 0;
    background-color: white;
}

/* #subheading-1{
    position:sticky;
    top: 0;
    background-color: white;
} */

html {
    scroll-behavior: smooth;
}

.episode-count{
    text-transform: capitalize;
    text-decoration: solid;
    color:rgb(75, 196, 35);
}