.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;
}

.columns {
    display: flex;
    margin: 1em auto;
    justify-content: space-between;
    align-items: baseline;
}

img {
    max-width: 100%;
    width: 100%;
}

body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;

}

h1 {
    font-size: 3rem;
    color: #232614;
    text-align: center;
}

h2 {
    font-size: 1.5rem;

}

.col-bg {
    background: #212614;
    padding: 1rem;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

.circular-div{
    border-radius: 50%;
    display:block;
    position: relative;
    background-color: yellowgreen;
    height:3;
    z-index: 1;
}

#circular-img{
    display:block;
    max-width: fit-content;
    z-index: 2;
}