a {
    text-decoration: none;
    color: inherit;
}

.nb {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-evenly;
    background-color: white;
    font-size: smaller;
}

.nb ul {
    list-style-type: none;
    padding: 0.2rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

#nb-d1 img {
    height: 1.5rem;
    padding-right: 0.1rem;
}

#nb-d1 * {
    padding-right: 1rem;
    padding-left: 1rem;
}

#nb-d1-img1-cnt {
    padding-left: 0.1rem;
    color: red;
    font-size: x-large;
    font-weight: bold;

}

.vp {
    position: relative;
    height: max-content;
}

#vp-vid {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

#vp-d1 {
    z-index: 1;
    position: relative;
    padding: 15%;
    width: 30%;
}

#vp-d1-label1 {
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 5rem;
    background-color: rgb(52, 174, 214);
}



.front-page-for-selection {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 5px;
    border-color: black;
    margin: 10px;

}

.front-page-for-selection>div {
    padding: 10px;
    align-items: center;
    display: flex;
}

.fp-c {
    display: flex;
    margin: .75rem;
    padding: .2rem;
    justify-content: space-evenly;
}

#fp-c1>div {
    background-color: rgb(108, 108, 229);
    height: 31.25rem;
    background-size: cover;

}

#fp-c1-d1 {
    background-image: url(../media/images/single-desktop-2.jpeg);
    width: 33%;
}

#fp-c1-d1-i1 {
    padding: 2rem;
}

#fp-c1-d2 {
    background-image: url(../media/images/Dsktp-SN_CCX_v3.jpeg);
    width: 33%
}

#fp-c1-d2-i1 {
    padding: 2rem;
    color: white;
}

#fp-c1-d3 {
    width: 25%;
}

#fp-c1-d3-i1 {
    padding: 2rem;
}


#fp-c1-d3-i1-1>ul {
    list-style-type: none;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#fp-c1-d3-i1-2>ul {
    list-style-type: none;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#fp-c2>div {
    background-color: rgb(108, 108, 229);
    height: 31.25rem;
    background-size: cover;
}

#fp-c2-d1 {
    background-image: url(../media/images/premiere.double_desktop.880x500@2x.jpeg);
    width: 68.3%
}

#fp-c2-d1-i1 {
    padding: 2rem;
    color: white;
}

#fp-c2-d2 {
    background-image: url(../media/images/Homepage.Acrobat_powerhouse_pod.background.420x500.jpg.img.jpg);
    width: 25%
}

#fp-c2-d2-l1 {
    padding: 2rem;
}


#fp-c3>div {
    background-color: rgb(108, 108, 229);
    height: 42.25rem;
    background-size: cover;
}

#fp-c3-d1 {
    background-image: url(../media/images/DC-triple-desktop.jpeg);
    width: 100%;
}

#fp-c3-d1-i1 {
    position: relative;
    height: 10%;
    width: 18%;
    padding-top: 15rem;
    padding-left: 15rem;
}

#fp-c3-d1-i1-label1 {
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 5rem;
    background-color: rgb(52, 174, 214);
}


#fp-c4>div {
    background-size: cover;
    height: 31.25rem;
    width: 30%;
}

#fp-c4-d1 {
    background-image: url(../media/images/Homepage.Acrobat_powerhouse_pod.background.420x500.jpg.img.jpg);
}

#fp-c4-d1-i1 {
    padding: 2rem;
}

#fp-c4-d2 {
    background-color: red;
}

#fp-c4-d2-i1 {
    padding: 2rem;
    color: white;
}

#fp-c4-d3 {
    background-color: rgb(44, 24, 63);
}

#fp-c4-d3-i1 {
    padding: 2rem;
    color: white;
}


#fp-c4-d3-i1-1>ul {
    list-style-type: none;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#fp-c4-d3-i1-2>ul {
    list-style-type: none;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#fp-c5>div {
    background-size: cover;
    height: 41rem;
}

#fp-c5-d1 {
    background-image: url(../media/images/Summit-2022_During-Post_triple-desktop.jpeg);
    width: 100%;
}

#fp-c5-d1-i1 {
    position: relative;
    color: white;
    height: 10%;
    width: 30%;
    padding-top: 14rem;
    padding-left: 15rem;
}

#fp-c5-d1-i1-label1 {
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 5rem;
    background-color: rgb(52, 174, 214);
}

#fp-c6>div {
    background-color: palegreen;
    height: 31.25rem;
    width: 30%;
    background-size: cover;
}

#fp-c6-d1 {
    background-image: url(../media/images/DOTCOM-36844-HP_EC_section-Pod-10-Desktop-1260x1500.jpeg);
}

#fp-c6-d1-i1 {
    padding: 2rem;
}

#fp-c6-d2 {
    background-image: url(../media/images/DOTCOM-36844-HP_EC_section-Pod-11-Desktop-1260x1500.jpeg);
}

#fp-c6-d2-i1 {
    padding: 2rem;
}

#fp-c6-d3-i1 {
    padding: 2rem;
}

#fp-c6-d3-i1>ul {
    list-style-type: none;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ff {
    background-color: rgba(211, 211, 211, 0.35);
    padding: 10rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

#ff-d1 {
    display: flex;
    justify-content: space-evenly;

}

#ff-d1 ul {
    list-style-type: none;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#ff-d2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ff-d2 * {
    padding-left: 1rem;
}

#ff-d2 img {
    height: 1.5rem;
    padding-left: 2rem;
}

#ff-d3 {
    display: flex;
    justify-content: space-between;
}

#ff-d3-i1 {
    display: flex;
    justify-content: left;
    align-items: center;
}

#ff-d3-i1 * {
    height: 1.75rem;
}

#ff-d3-i2 {
    justify-content: right;
    align-items: center;
    font-size: smaller;
}